
.container {
  width: 100%;
  max-width: 1600px;
  padding: 0 25px;
  margin: 0 auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  margin: 20px;
  float: left;
}

nav {
  float: left;
}
nav ul {
  font-family: Calibri;
  font-style: italic;
  font-size: 24px;
  margin: 20px;
  padding: 20;
  list-style: none;
}
nav li {
  padding-left: 30px;
  display: inline-block;
}

nav a {
  text-decoration: none;
  line-height: 70px;
}
.row {
  margin-bottom: 30px;
}

.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.link {
  text-align: center;
  font-family: Calibri;
  font-style: italic;
  font-size: 22px;
}
.col-1-1 {
  position: relative;
  text-align: center;
  color: Purple;
  width: 100%;
  float: left;
}

.col-1-3 {
  width: 33.3333333333%;
  float: left;
}

.col-2-3 {
  width: 66.6666666667%;
  float: left;
}

.col-1-4 {
  width: 25%;
  float: left;
}

.art {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Calibri;
  font-size: 32px;
}

.live {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Caveat;
  font-size: 85px;
}

.text1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Calibri;
  font-size: 32px;
}

.text2 {
  font-family: Caveat;
  font-size: 65px;
  color: Purple;
  margin: auto;
  text-align: center;
}

.text3 {
  font-family: Calibri;
  font-size: 32px;
  color: DimGrey;
  text-align: center;
  margin: auto;
}
footer {
  background-color: DimGrey;
  text-align: center;
  font-family: Calibri;
  font-size: 22px;
  color: White;
}

.button{
    margin-left:30px;
    margin-bottom:30px;
    color: #fff;
	background: LightSeaGreen;
	padding: 0px;
	border-radius: 0px;
	border: 2px solid SteelBlue;
}

.cost-block{
    text-align: center;
    font-family: Calibri;
    font-style: italic;
    font-size: 24px;
}

.select{
    font-family: Calibri;
    font-style: italic;
    font-size: 24px;
}

.zakaz{
    position: relative;
    left: 400px;

    display: inline-block;
    background: MediumVioletRed;
    color: #fff;
    padding: 0.5rem 2rem;
    text-decoration: none;
    border-radius: 3px; /
}

